.item {
    display: flex;
    align-items: center;
    margin-top: 10px;
    width: 100%;
}

.link {
    margin-left: 10px;
    opacity: 1;
}



.icon {
    fill: var(--inverted-primary-color);
    margin: 0;
    padding: 0;
}

.collapsed {
    .link {
        display: none;

    }

    &.item {
        display: flex;
        align-items: center;
        justify-content: center;

    }


}