.list {
    .card {

        margin-bottom: 30px;
        flex-wrap: wrap;

    }
}

.grid {
    display: flex;
    flex-wrap: wrap;


    .card {
        margin-bottom: 25px;
        margin-right: 25px;
    }
}