.app_dark_theme {
    --bg-color: #0f0f0f;
    /* Основной фон, темный */
    --inverted-bg-color: #353535;
    /* Светлый фон для инвертированных элементов */

    --primary-color: #e0e0e0;
    /* Основной текст или элементы, близкие к черному */
    --secondary-color: #000000;
    /* Черный цвет для акцентов или текста */

    --inverted-primary-color: #b8b8b8;
    /* Темный цвет для инвертированных элементов */
    --inverted-secondary-color: #444444;
    /* Темно-серый вторичный цвет для акцентов */

    --skeleton-color: #262626;
    /* Цвет скелетонов, темный серый */
    --skeleton-shadow: #333333;
    /* Тень для скелетонов, чуть светлее */

    --code-bg: #121212;
    /* Темный фон для блоков кода */

    --card-bg: #1c1c1c;
    /* Фон для карточек, темно-серый */

    --listbox-bg: #1c1c1c;
    /* Фон для выпадающих списков, темно-серый */

    --highlight-color: #333333;
    /* Цвет для выделенных элементов, чуть светлее основного */
    --border-color: #444444;
    /* Цвет границ, темный, но с немного светлее оттенком */

    --button-bg: #262626;
    /* Фон кнопок */
    --button-hover-bg: #1a1a1a;
    /* Фон кнопок при наведении, чуть темнее */

    --text-color: #e0e0e0;
    /* Светлый текст, чтобы хорошо читался на темном фоне */
    --link-color: #666666;
    /* Цвет ссылок, светло-серый для гармонии */
}