.app_gray_theme {
    --bg-color: #15202b;
    --inverted-bg-color: #2c383e;
    --primary-color: #ccc;
    --secondary-color: #1A332E;
    --inverted-primary-color: #F4F8FB;
    --inverted-secondary-color: #F4F8FB;
    --skeleton-color: #2c383e;
    --skeleton-shadow: rgba(0 0 0 / 20%);
    --code-bg: #2c383e;
    --card-bg: #162431;
    --listbox-bg: #162431;



}