.app_gray_theme {
    --bg-color: #F4F6FB;
    --inverted-bg-color: #2c383e;
    --primary-color: #27414e;
    --secondary-color: #1A332E;
    --inverted-primary-color: #F4F8FB;
    --inverted-secondary-color: #F4F8FB;
}