.ProfileCard {
    padding: 20px;
    border: 2px solid var(--inverted-bg-color);
    display: flex;
}

.data {
    margin-bottom: 30px;
}

.input {
    margin-top: 10px;
}


.avatar {
    height: 350px;
    width: 350px;
}

.avatarContainer {
    margin-left: auto;

}

.select {
    margin-top: 5px;
}

.loading,
.error {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}