.ProfileCard {
    padding: 20px;
    border: 2px solid var(--inverted-bg-color);
}

.data {
    margin-bottom: 30px;
}



.avatar {
    height: 350px;
    width: 350px;
}

.avatarContainer {
    margin-left: auto;

}



.loading,
.error {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}