.ProfileCard {
    padding: 20px;
    border: 2px solid var(--inverted-bg-color);
    width: 100%;
}



.avatar {
    min-height: 100px;
    height: 350px;
    object-fit: contain;
}

.avatarContainer {
    width: 100%;
}



.loading,
.error {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}

@media (max-width: 768px) {
    .ProfileCard {
        flex-direction: column;
    }

    .avatarContainer {
        order: -1;
    }

    .avatarContainer {
        margin-left: 0;
        width: 100%;
        margin-bottom: 10px;

    }
}