.CommentCard {
    padding: 10px;
    border: 1px solid var(--primary-color);
    display: flex;
}

.avatarWrapper {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.textWrapper {
    margin-left: 10px;
}